
<div class="container" >
	<div class="screen">
		<div class="screen__content">
			<form class="login">
                <h4 class = "loginhead">Login Here</h4>
				<div class="login__field">
					<input type="text" class="login__input" placeholder="Email"  name="email" [(ngModel)]="email" >
				</div>
				<div class="login__field">
					<input type="password" class="login__input" placeholder="Password" name="password"   [(ngModel)]="password">
				</div>
                
				<button class="button" >
					<span class="button__text" (click)="login()">Log In </span>
				</button>				
                

			</form>

            <div class="sign-up-text ms-4">
                Don't Have Account ?<a class="sign-up-text" routerLink="/SignUp"  routerLinkActive="active"> Sign up as an applicant</a><br>
                <a class="sign-up-text ms-5" routerLink="/SignUpCompany" routerLinkActive="active">Or Sign up as a company</a>

            </div>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
				
	</div>
</div>
