.container{
    position: relative;
    width: 880px;
    border: 1px solid black;
    padding: 25px;
}
.container-extra{
    border:0;
    border-bottom: 1px solid black;
}
.user-profile-icon{
    font-size: 90px;
    margin-left: 70px;
    color: grey;
}