<div class="container" >
    <div class="screen">
		<div class="screen__content">
        
    <h1 class="loginhead" > Sign Up </h1>
    <form action="signup">
    <div class="login__field">
        <input type="text" class="login__input" placeholder="First Name"  name="FirstName" [(ngModel)]="FirstName">
    </div>
    <div class="login__field">
        <input type="text" class="login__input" placeholder="Last Name"  name="LastName" [(ngModel)]="LastName">
    </div>
    <div class="login__field">
        <input type="email" class="login__input" placeholder="Email" name="email" [(ngModel)]="email">
    </div>
    <!-- <div class="login__field">
        <input type="text" class="login__input" placeholder="Address" name="address" >
    </div> -->
    <!-- <div class="login__field">
        <input type="text" class="login__input" placeholder="Field" name="field">
    </div> -->
    <div class="login__field">
        <input type="password" class="login__input" placeholder="Password"  name="password" [(ngModel)]="password">
    </div>
    <!-- <div class="login__field">
        <label><input type="checkbox"  name="isCompany"> join as company</label>
    </div> -->
    <div class="sign-up-text">
        <a class="sign-up-text" routerLink="/Login">Have An Account ? Log in </a>
    </div>
    <button class="button" style="margin-top:-40px ;" >
        <span class="button__text" (click)="register()">Sign Up</span>
    </button>
    </form>
   </div>	
   <div class="screen__background">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>		
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
</div>	
    </div>
</div>

