
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.Description{
    margin-left: 20px;
   
}
.filter_class{
    width: 75%;
    margin: auto;
    background-color:#F2F2F2;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.filter_text{
    display: flex;
    margin-left: 50px;
}

.product-list {
    
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 30px 0; 
    margin: auto;
  }

  .product-item {
    background-color:#F2F2F2;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width:100%;
  }

  .product-item img {
  width: 80px;
  height: 80px;
    height: auto;
    margin-bottom: 10px;
  }

  .product-item h3 {
   
    margin-bottom: 50px;
  }
  

  .product-item p {
    margin-bottom: -2px;
   
    margin-left: 10px;
    font-size: 15px;
   
 
  }

  .product-item button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
  }

  .btn-save{
    background-color: white;
    border-radius: 45px;
    border-color: #ccc;
  }
.btn-datails{
    border-radius: 5px;
    border:none;
    background-color: #5B7E6F;
    color: white;
}
  .class_buttons{
 
   margin-left:auto;
  
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 70px;
  }
  
  .dropdown > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .dropdown > label,
  .dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: #333;
    line-height: 1.5em;
    text-decoration: none;
    border: 1px solid #8c8c8c;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color:#fff;
  }
  
  .dropdown > label:hover,
  .dropdown > a[role="button"]:hover,
  .dropdown > a[role="button"]:focus {
    border-color: #333;
  }
  
  .dropdown > label:after,
  .dropdown > a[role="button"]:after {
    content: "\f0d7";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 6px;
  }
  
  .dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
  }
  
  .dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown > ul a:hover,
  .dropdown > ul a:focus {
    background: #ececec;
  }
  
  .dropdown > input[type="checkbox"]:checked ~ ul,
  .dropdown > ul:target {
    left: 0;
  }
  
  .dropdown > [type="checkbox"]:checked + label:after,
  .dropdown > ul:target ~ a:after {
    content: "\f0d8";
  }
  
  .dropdown a.close {
    display: none;
  }
  
  .dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-indent: -100vw;
    z-index: 1000;
  }
  
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    padding: 30px;
    color: #333;
  }
  
  .dropdown + h2 {
    margin-top: 60px;
  }

  .dropdown input{ 
   
    width: 160px;
    height: 37px;
  }