<div class="container">
    <div class="screen">
      <div class="screen__content">
        <h1 class="loginhead">Sign Up</h1>
        <form [formGroup]="signupForm" (ngSubmit)="registerCompany()">
          <div class="login__field">
            <input type="text" class="login__input" placeholder="Name" formControlName="name">
            <p *ngIf="signupForm.get('name')?.errors?.['required'] && signupForm.get('name')?.touched" class="warning text-danger">Name is required</p>
            <p *ngIf="signupForm.get('name')?.errors?.['minlength'] && signupForm.get('name')?.touched" class="warning text-danger">Name must be at least 3 characters long</p>
          </div>
          <div class="login__field">
            <input type="email" class="login__input" placeholder="Email" formControlName="email">
            <p *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched" class="warning text-danger">Email is required</p>
            <p *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched" class="warning text-danger">Please enter a valid email</p>
          </div>
          <div class="login__field">
            <input type="text" class="login__input" placeholder="Address" formControlName="address">
            <p *ngIf="signupForm.get('address')?.errors?.['required'] && signupForm.get('address')?.touched" class="warning text-danger">Address is required</p>
            <p *ngIf="signupForm.get('address')?.errors?.['minlength'] && signupForm.get('address')?.touched" class="warning text-danger">Address must be at least 3 characters long</p>
          </div>
          <div class="login__field">
            <input type="text" class="login__input" placeholder="Field" formControlName="field">
            <p *ngIf="signupForm.get('field')?.errors?.['required'] && signupForm.get('field')?.touched" class="warning text-danger">Field is required</p>
            <p *ngIf="signupForm.get('field')?.errors?.['minlength'] && signupForm.get('field')?.touched" class="warning text-danger">Field must be at least 4 characters long</p>
          </div>
          <div class="login__field">
            <input type="password" class="login__input" placeholder="Password" formControlName="password">
            <p *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched" class="warning text-danger">Password is required</p>
            <p *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched" class="warning text-danger">Password must be at least 6 characters long</p>
          </div>
          <div class="sign-up-text mt-4">
            <a class="sign-up-text" routerLink="/Login">Have An Account ? Log in</a>
          </div>
          <button type="submit" class="button" style="margin-top:-40px;">Sign Up</button>
        </form>
      </div>
    </div>
</div>
  