<h3>JOB APPLICANTS</h3>

<div class="filter_class">
  <div class="filter_text">
    <h4>Search</h4>
    <input type="text" placeholder="Keyword" (input)="FilterByKeyword($event)">
  </div>
</div>

<div class="list_class">
  <ul class="product-list">
    <ng-container *ngIf="isFiltered ? filteredApplicant.length > 0 : apllicant.length > 0; else noApplicants">
      <ng-container *ngFor="let job of JobList">
        <ng-container *ngFor="let app of (isFiltered ? filteredApplicant : apllicant)">
      <li class="product-item" *ngIf="job.applicantApplied.includes(app.id)">
          
            <div class="Description">
              <h4>{{ app.firstName }} {{ app.lastName }}</h4>
              <p>{{ job.title }}</p>
            </div>
            <div class="class_buttons">
              <button class=" btn-datails ms-auto" [routerLink]="'/UserProfileCompanySide/' + app.id">View Profile</button>
              <br>
              <button class="btn-save ms-auto" (click)="RemoveApplied(app.id, job.id)">Ignore</button>
            </div>
        
      </li>
    </ng-container>
    </ng-container>

    </ng-container>
  </ul>
  <ng-template #noApplicants>
    <div class="no-applicants-found">
      <p>No applicants found.</p>
    </div>
  </ng-template>
</div>
